<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Linea" value="1, 2, 3" />
		<add key="TipoDestino" value="1, 2, 3"/>
		<add key="TipoEtiqueta" value="EAN_Arriba, EAN_Abajo, QR_Arriba, QR_Abajo" />
		<add key="IpCamera" value=""/>
		<add key="PuertoIpCamera" value="23"/>
		<add key="IpCamera2" value="" />
		<add key="PuertoIpCamera2" value="23" />
		<add key="ConectionStringAPI" value="https://localhost:44319"/>
		<add key="ApiAuthUrl" value="https://localhost:44355"/>		
		<add key="UsuarioCamera" value="gk_camera_user_wpf"/>
		<add key="PasswordUsuarioCamera" value="12345"/>
	</appSettings>
</configuration>