<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PrintersName" value="PDF, \\SRVPRINTERS\ 2 B-EXD4D2 (300 dpi), \\SRVPRINTERS\bartender - TOSHIBA B-EX4T2 (300 dpi)"/>
		<add key="ConectionStringAPI" value="https://localhost:44319"/>
		<add key="ApiAuthUrl" value="https://localhost:44355"/>
		<add key="ConectionStringAPI_Etiquetas" value="https://localhost:44342" />
		<add key="UsuarioBartender" value="operario_etiquetas_wpf"/>
		<add key="PasswordUsuarioBartender" value="123456"/>
	</appSettings>
</configuration>